name: Bump flake.lock

on:
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            accept-flake-config = true
            extra-platforms = aarch64-linux
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/install-nix-action@v20
      - uses: thiagokokada/free-disk-space@main
        with:
          opt: true
          tool-cache: true
          usrlocal: true
          usrmisc: true

      - name: Update flake.lock
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          nix flake update --commit-lock-file

      - name: Register binfmt (cross-compilation)
        run: |
          docker run --rm --privileged multiarch/qemu-user-static --reset -p yes

      - name: Build golf && tortinha
        run: | 
          nix build -L .#nixosConfigurations.golf.config.system.build.toplevel
          nix build -L .#nixosConfigurations.tortinha.config.system.build.toplevel

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          body: |
            ## Run report

            https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
          branch: flake-updates
          delete-branch: true
          title: Update flake.lock
